.hero {
  position: relative;
  background: url('../../images/nairobi.jpg') no-repeat center center;
  background-size: cover;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: orange;
  text-align: center;
}
